# requirements for developers and CI
-r requirements.txt

hatch==1.7.0

# Types
types-PyYAML==6.0.12.20240311
google-api-python-client-stubs==1.26.0
types-beautifulsoup4~=4.12.0.7

# Lint
black==24.4.2
mypy==1.10.0
ruff==0.4.10
pylint==3.2.3
isort==5.13.2

# Test
ipykernel==6.26.0
nbconvert==7.16.4
nbformat==5.10.4
pytest==7.4.4
