COUNCIL_DEFAULT_BUDGET=change_me_optional_default_30_secs

AZURE_LLM_API_KEY=change_me
AZURE_LLM_API_VERSION=change_me
AZURE_LLM_API_BASE=change_me
AZURE_LLM_DEPLOYMENT_NAME=change_me
AZURE_LLM_TIMEOUT=change_me_optional_default_30_secs

OPENAI_API_KEY=change_me
OPENAI_LLM_MODEL=change_me
OPENAI_LLM_TIMEOUT=change_me_optional_default_30_secs

GOOGLE_API_KEY=change_me
GOOGLE_SEARCH_ENGINE_ID=change_me
