httpx~=0.25.1
requests~=2.31.0
Jinja2~=3.1.2
python-dotenv~=1.0.0
more-itertools~=10.1.0
progressbar~=2.5
tiktoken~=0.7.0
toml~=0.10.2
PyYAML~=6.0.1

# LLMs
anthropic~=0.20.0
google-generativeai==0.7.0

# Skills
## Google
google-api-python-client>=2.106.0
GoogleNews>=1.6.10

## Wikipedia
pymediawiki~=0.7.3
beautifulsoup4~=4.12.2

